body
	{margin: 0px !important;}

header
	{font-size: 2em;
    margin: 0px;
	background-color: pink;}

header section
	{background-color: pink;}

nav ul li 
	{display: inline-block;
	margin: 20px;
	margin-bottom: 0px;
	padding: 20px}

nav ul
	{padding: 0px;}

header
	{text-align: center;}

img 
	{max-height: 80%;
	max-width: 80%;
	padding-top: 2em;}

nav
	{font-size: 0.5em;}

nav ul li a
	{color: white;
	text-decoration: none;}

nav ul li.active
	{background: white;}

nav ul li.active a 
	{color: pink;}

p , footer
	{font-weight: 300;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;}

a:hover
	{text-decoration: underline;}

section p
	{font-size: 2em;}

footer p
	{font-size: 1em;
	margin-top: 0px;}

footer a
	{color: pink;
	text-decoration: none;}

footer a:hover
	{color: green;
	text-decoration: underline;}

footer a:visited
	{color: purple;}



